**/.venv
**/venv
**/.idea
**/__pycache__
**/ignore
**/connection_string.py
**/temp_classes.py
**/.env
**/Medical-Office-Administration.code-workspace
**/main.lnk
**/build
**/dist
**/main.spec
**/Output
